/* CSS GLOBAL */

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


/* END CSS GLOBAL */


/* CSS HEADER */

.header {
    background-color: white;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__logo img {
    width: 60px;
}

.header__nav ul {
    list-style: none;
}

.header__nav li {
    display: inline;
    margin: 0 15px;
}

.header__nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.4s;
}

.header__nav ul li.active a {
    color: #fa5238;
}

.header__nav ul li a:hover {
    color: #fa5238;
}

.header__login {
    color: #999999;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__login i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.header__login:hover {
    color: #ec7532;
    text-decoration: none;
}

.header-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* END CSS HEADER */


/* CAROUSEL CSS */

#carousel {
    margin-top: 70px;
}

#carousel img {
    width: 100%;
}


/* END CAROUSEL CSS */


/* NAV__BOTTOM CSS */

#nav__bottom {
 padding: 0 9%;
}

.header-menu-bot {
    padding-top: 100px;
    display: flex;
    margin: auto;
    float: left;
    padding: 0 auto;
    justify-content: space-around;
}

.header-menu-bot a {
    font-weight: bold;
}

.header-menu-bot li {
    margin-left: 27.5px;
    /* margin-right: 15px; */
}

.header-menu-bot input {
    width: 150;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}

/* END NAVBOTTOM CSS */


/* MOVIE CSS */

.section-title {
    text-align: center;
    font-size: 2rem;
    color: black;
    padding-top: 60px;
}

.section-title span {
    margin: 0 1.5rem;
    cursor: pointer;
}

.section-title span:hover {
    color: #fa5238;
}

.section-title span.active {
    color: #fa5238;
}

.movie__content {
    padding: 0 10%;
}

.movie__item img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.movie__item p {
    font-size: 1.2rem;
}

.movie__item .btn-read-more {
    background-color: #fa5238;
    color: white;
    padding: 0.7rem 0;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    display: none;
    margin-top: 5px;
}

.movie__item:hover .btn-read-more {
    display: block;
}

.movie__item:hover p {
    display: none;
}


/* END MOVIE CSS */


/* CUSTOMIZE OWL CAROUSEL */

#movie .owl-prev {
    position: absolute;
    top: 30%;
    left: -3rem;
}

#movie .owl-prev span {
    font-size: 6rem;
}

#movie .owl-next {
    position: absolute;
    top: 30%;
    right: -3rem;
}

#movie .owl-next span {
    font-size: 6rem;
}


/* END CUSTOMIZE OWL CAROUSEL */


/* NEWS CSS */

#news .section-title {
    padding-top: 150px;
}

.news__content {
    padding: 0 10%;
    margin-bottom: 50px;
}

.news__content a {
    display: block;
    height: 100%;
}


/* END NEWS CSS */


/* CUSTOMIZE HOVER EFFECT */

#news__content .grid {
    padding: 0;
}

#news__content .grid figure {
    min-width: unset;
    max-width: unset;
    height: 100%;
    margin: 0;
}

#news__content figure.effect-ruby {
    padding: 1rem;
}


/* END CUSTOMIZE HOVER EFFECT */


/* CONTACT CSS */

.contact {
    background: url('/Images/carousel1.jpg') no-repeat center center;
    background-size: cover;
    /* background paralax */
    background-attachment: fixed;
}

.contact .section-title {
    color: white;
    padding-top: 50px;
}

.contact__content {
    padding: 10px 20%;
}

.contact__form {
    background-color: white;
    padding: 5px;
    margin-bottom: 30px;
}

.contact__form h2 {
    text-align: center;
}

.contact__info {
    border-left: 1px solid #b1b0b0;
}

.contact__info__item {
    text-align: center;
}

.contact__info__item i {
    font-size: 2rem;
    color: #000000;
    padding-top: 10px;
}

.contact__map iframe {
    margin-top: 20px;
    width: 100%;
    height: 15rem;
}


/* END CONTACT CSS */


/* CUSTOMIZE INPUT EFFECT */

.contact__form .input__field--hoshi {
    font-size: 1.1rem;
    font-weight: normal;
}

.contact__form .input__label--hoshi-color-3::after {
    border-bottom: 2px solid #fa5238;
}

.contact__form .input {
    max-width: unset;
    width: 90%;
    margin: 0.5rem;
}

.contact__form form {
    text-align: center;
}

.btn-contact-submit {
    background-color: #fa5238;
    border: none;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    padding: 0.7rem 2rem;
}

.btn-back-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}


/* ENDCUSTOMIZE INPUT EFFECT */

/* FOOTER CSS */

.footer {
    background-color: #101010;
    /* padding: 50px 0; */
    padding-top: 50px;
}

.footer h3 {
    color: #ec7532;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.footer ul li a:hover {
    color: #ec7532;
}

.copy-right {
    border-color: rgba(255, 255, 255, 0.2) !important;
}


/* END FOOTER CSS */