﻿
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutĐangki.cshtml";
<h1> dang ki </h1>
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
<form class="user">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" name="HotenKH" placeholder="Vui lòng nhập họ tên *">
        </div>
        <div class="col-sm-6">
            <input type="number" class="form-control form-control-user" name="Dienthoai" placeholder="Vui lòng nhập số điện thoại *">
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control form-control-user" name="Email" placeholder="Vui lòng nhập email *">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="date" class="form-control form-control-user" name="Ngaysinh" placeholder="Nhập ngày sinh *">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control form-control-user" name="TenDN" placeholder="Tên đăng nhập *">
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user" name="Diachi" placeholder="Vui lòng nhập địa chỉ *">
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="password" class="form-control form-control-user" name="Matkhau" placeholder="Nhập mật khẩu *">
        </div>
        <div class="col-sm-6">
            <input type="password" class="form-control form-control-user" name="Matkhaunhaplai" placeholder="Vui lòng nhập lại mật khẩu *">
        </div>
    </div>
    <button class="btn btn-primary btn-user btn-block" type="submit">Đăng ký</button>
    <hr>
    <a href="index.html" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Đăng ký với Google
    </a>
    <a href="index.html" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Đăng ký với Facebook
    </a>
</form>
       }
